*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.grid{
    width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.column{
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

.column.c-3{
    max-width: 33.333333%;
}

#header{
    background: black;
    height: 50px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.menu-nav{

}

.menu-list{
    list-style-type: none;
    display: inline-block;
}

.menu-item{
    display: inline-block;
    position: relative;
}

.menu-item a{
    color: white;
    text-decoration: none;
    display: block;
    line-height: 50px;
    font-size: 22px;
    padding: 0 32px;
    width: 100%;
}

.menu-item:hover>a{
    background: #ccc;
    color: black;
}

.menu-item-icon{
    font-size: 16px;
}

.menu-list-icon{
    float: right;
    color: white;
    padding: 16px;
    font-size: 20px;
    position: relative;
}
.menu-list-icon:hover{
    background: red;

}

.sub-menu-list{
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 2px;
    background: white;
    list-style-type: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 150px;
    overflow: hidden;
    z-index: 1;
}

.menu-item:hover .sub-menu-list{
    display: block;
}

.sub-menu-item:hover a{
    background: #ccc;
    color: black;
}

.sub-menu-item a{
    display: block;
    color: black;
    font-size: 18px;
}

.sub-menu-item{
    position: relative;
}

.menu-search{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
}

.menu-input{
    outline: none;
    border: 1px solid #626161;
    padding: 16px;
    width: 300px;
}

.menu-list-icon:hover .menu-search{
    display: block;
}

.hot-cars-wrap{
    position: relative;
    background:white;
    left: 100%;
    width: 1500px;
    height: 500px;
}


.img{
    background: url("/assets/img/lambogrini.jpg") top center / cover no-repeat;
    padding-top: 60%;
    position: relative;
}

.slogan{
    position: absolute;
    color: white;
    top: 20%;
    left: 25%;
    font-style: italic;
    letter-spacing: 4px;
    font-size: 40px;
}

.Huracan-wrap{
    display: flex;
    margin-top: 20px;
}

.img-huracan{
    width: 500px;
    border-bottom-right-radius: 10%;
    margin-top: 20px;
}

.Huracan-desc{
    margin-left: 20px;
}

.Huracan-heading{
    margin: 20px 0;
    font-size: 36px;
    letter-spacing: 3px;
    font-style: oblique;
    text-align: center;
    font-weight: 600;
}



.Huracan-body{
    font-size: 20px;
    margin-left: 100px;
    color: #757575;
}


.Revuelto-wrap{
    display: flex;
    margin: 40px 0;
}

.img-Revuelto{
    width: 400px;
    border-bottom-left-radius: 10%;
    margin-top: 50px;
}

.Revuelto-desc{
    
}

.img-Revuelto{
    width: 500px;
    border-bottom-left-radius: 10%;
    margin-top: 20px;
}

.Revuelto-heading{
    margin-top: 200px;
    margin: 50px 0 20px;
    font-size: 36px;
    letter-spacing: 3px;
    font-style: oblique;
    text-align: center;
    font-weight: 600;
}

.Revuelto-body{
    font-size: 20px;
    margin-right: 100px;
    color: #757575;
    text-align: justify;
}

.product{
    background: black;
    padding: 80px;
}

.urus-car-img{
    width:100%;
}

.urus-car{
    background: white;
}

.urus-car-desc{
    color : black;
    padding: 20px;
    
    min-height: 200px;
}

.car-button{
    margin: 0 0 20px 20px;
    cursor: pointer;
    color: white;
    background: black;
    width: 108px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    display: inline-block;
}

.car-button:hover{
    color: black;
    background: #ccc;
}

.aventador-car-img{
    width:100%;
    height: 256px;
}

.aventador-car{
    background: white;
}

.aventador-car-desc{
    color : black;
    padding: 20px;
    min-height: 200px;
}

.huracansto-car-img{
    width:100%;
    height: 256px;
}

.huracansto-car{
    background: white;
}

.huracansto-car-desc{
    color : black;
    padding: 20px;
    min-height: 200px;
}

.concept{
    background: url("/assets/img/concept.webp") top center / cover no-repeat;
    padding-top: 50%;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.7);
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: none;
    padding: 0 -16px;
    z-index: 2;
}

.open-modal.modal{
    display:flex;
}

@keyframes fadein {
    from{
        opacity: 0.5;
        transform: translateY(-150px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-container{
    position: relative;
    /* margin: 0 16px; */
    width: 900px;
    background-color: #fff;
    animation: fadein ease .5s;
}

.modal-container-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    font-size: 12px;
    opacity: 0.7;
    color: #fff;
}
.modal-container-close:hover{
    opacity: 1;
}

.modal-header{
    padding: 32px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: #fff;
}

.modal-name{
    font-size: 30px;
}

.modal-name-icon{
    font-size: 24px;
}

.modal-body{
    font-size: 15px;
    padding: 0 16px;
}

.modal-boday_label{
    display: block;

}

.modal-body_input{
    width: 100%;
    font-size: 15px;
    padding: 10px;
    color: #757575;
    outline: none;
    border: 1px solid #ccc;
}
.modal-body_input:focus{
    border: 1px solid rgb(0, 150, 136);
}

.modal-boday_label{
    margin: 15px 0;
    font-weight: 500;
}

.modal-pay {
    border: none;
    background: black;
    font-size: 15px;
    width: 100%;
    padding: 16px;
    margin: 14px 0;
    color: #fff;
    cursor: pointer;
}
.modal-pay:hover {
    opacity: 0.8
}

.modal-footer_desc {
    text-align: right;
    margin: 15px 15px 30px;
    font-size: 15px;
}
.modal-footer_desc a{
    color: #2196f3;
}